@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var startNodeId = Model.MacroParameters["startNodeId"]; }
@if (startNodeId != null)
{
    var startNode = Umbraco.Content(startNodeId);
    var selection = startNode.Children.Where("Visible");

<div class="con-1">
    @if (selection.Any())
    {
    <a class="left logo" href="@startNode.Url">
        <img src="@Umbraco.Media(startNode.logo).Url" />
    </a>
    <ul class="left">
    
        <li>
            <a href="@startNode.Url">@startNode.Name</a>
        </li>
        <li>
            <a target="_blank" href="@startNode.catalogPdf">Hent katalog</a>
        </li>
        @foreach (var item in selection)
        {
        <li>
            <a href="@item.Url">@item.Name</a>
        </li>
        }
        <li>
            <div class="cart">
                <p id="items"></p><a href="@Umbraco.Content(" 1106").Url"><i class="fa fa-shopping-cart"></i></a>
            </div>
        </li>
    </ul>
    }
    
</div>
}

<div class="clear"></div>